@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Playball&family=Rubik&family=Tapestry&family=Trade+Winds&family=Work+Sans&display=swap");
:root {
  --body-bg-color: #e3e3e3;
  --scroll-color: rgba(0, 0, 0, 0.296);
  --scroll--hover-color: #666;
  --scroll-track-color: rgba(255, 255, 255, 0.251);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.treands {
  font-family: "Trade Winds", cursive !important;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Rubik", sans-serif !important;
}

/* body {
  background: whitesmoke;
  background: linear-gradient(
    132deg,
    rgb(251, 251, 255) 0%,
    rgb(215, 223, 252) 100%
  );
} */

@media (max-width: 600px) {
  .caro-img {
    height: 40vh !important;
  }
}

.obitron {
  font-family: "Orbitron", sans-serif !important;
  font-weight: bolder;
}

.rubik {
  font-family: "Rubik", sans-serif !important;
}

.mx-2 {
  margin: 0 20px;
}

.Nav-main h6 {
  font-weight: 600;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    var(--scroll-track-color) 0%,
    var(--scroll-track-color) 30%,
    var(--scroll-color) 60%,
    var(--body-bg-color) 61%,
    var(--body-bg-color) 100%
  );
}

*::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}
.trend::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 4px;
}

/* NEW CSS FOR LOADER */

.preloaderBg {
  position: fixed;
  z-index: 10;
  top: 25%;
  background: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
}

.preloader {
  margin: auto;
  background: url("./img/Logo.png") no-repeat center;
  background-size: 200px;
  width: 300px;
  height: 300px;
}

.preloader2 {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0288d1;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation: spin 1s ease-in-out infinite;
  position: relative;
  margin: auto;
  top: -280px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* NEW CSS FOR LOADER */
